.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #002F65;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 60px;
    z-index: 1;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #A0D1E6;
    display: block;
}

.sidebar a:hover {
    background-color: #A0D1E6;
    color: #002F65;
}

/* Toggle button */
#toggle-btn {
    background-color: #002F65;
    color: #A0D1E6;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.sidebar.open {
    width: 250px;
}

.content {
    padding: 20px;
    text-align: center;
}

header {
    background-color: #A0D1E6;
    color: #002F65;
    padding: 1em 0;
    text-align: center;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002F65;
    color: white;
}